.title {
  border: 1px solid black;
  margin-bottom: 30px;
}

.main-game {
  margin-top: 30px;
}

.message-box {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}

.turn-box {
  border: 1px solid black;
}

.player1 {
  border: 1px solid black;
  height: 200px;
  margin: 0px 20px;
}

.player2 {
  border: 1px solid black;
  height: 200px;
  margin: 0px 20px;
}

.result {
  border: 1px solid black;
  height: 200px;
  margin: 0px 20px;
}

.chatbox {
  border: 1px solid black;
  height: 200px;
  margin-top: 30px
}

.login,
.logout {
  float: right;
}

.choices {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  flex-wrap: wrap;
}

.rock,
.paper,
.scissors,
.choicesHeader {
  padding: 10px;
  width: 100%;
  margin: 5px;
}

.choicesHeader {
  background-color: cornflowerblue;
}

.rock {
  background-color: lightgrey;
}

.paper {
  background-color: tan;
}

.scissors {
  background-color: lightblue;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  border: 2px red solid;
}
